@import "ptibbetts-fabricator"; /* I need to change the name of the lhm toolkit */

.c-Content {
  display: block;
  padding: 1em;

  h1 {
    margin-top: 0;
  }

}

.c-Teaser-title {
  background: none;
}


@import "./components.themes.css";
