---
title: Overview | Cardigan
---

<div class="l-container">
	<main>

		<article class="c-Content">

			<div class="o-card">

				<h1 id="cardigan" class="o-card-title">Cardigan</h1>

				<div class="o-card-body">

					<p>OOCSS / <abr>SRP</abr> styling framework for modern browsers.</p>

					<p>It's pretty smart, but not <em>too</em> smart.</p>

				</div>

			</div>

			<div class="o-card">
				<h3 class="o-card-title">Docs</h3>
				<div class="o-card-body">
					<p><a href="{{baseurl}}/overview.html">Find out more</a></p>
				</div>
			</div>

		</article>

	</main>

</div><!-- /.l-container -->
